.user-layout {
  display: flex;
  height: 100vh;
}

.user-layout .col-md-4 {
  border-right: 1px solid #ddd;
  overflow-y: auto;
}

.user-layout .col-md-8 {
  padding-left: 30px;
  overflow-y: auto;
}

.card {
  transition: all 0.3s ease;
}

.card:hover {
  transform: scale(1.05);
}

.card-body {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
